tvr_ve
.vscode
**/*.pyc
**/*.egg-info

*.tvr
gamestats.*
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.log
playbyplay.pdf
playbyplay.tex
*.fls

tests/test_network_server.py
tests/test_network_client.py

.persistent/*.tvrt

hosted_stats/*.js
